
.imagesContainer {
  box-sizing: content-box;
  resize: both;
  min-width: 20px;
  min-height: 20px;
  overflow: hidden;
  border: 2px solid;
  padding: 6px;
  background-color: grey;
  height: 256px;
  width: 256px;
  position: relative;
}
.motionContainer{
  padding-bottom: 20px;
}
.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}